<h1>Edit Glucose Result</h1>

<%= form_for :glucose_result, url: glucose_result_path(@glucose_result), method: :patch do |f| %>
    <p>
      <strong>User ID: </strong><%= @glucose_result.user_id %>
    </p>
    <p>
      <strong>Date/time: </strong><%= @glucose_result.date_time_stamp %>
    </p>
    <p>
      <%= f.label :result %><br>
      <%= f.text_field :result %>
    </p>
    <p>
      <%= f.label :device %><br>
      <%= f.text_field :device %>
    </p>
    <p>
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
