<h1>Listing Results</h1>
<p><%= link_to "New glucose result", new_glucose_result_path %></p>
<% if !@glucose_results.nil? %>
  <table class='gr-table'>
    <tr>
      <th></th>
      <th>Date/time</th>
      <th>Reading</th>
      <th>Source</th>
      <th>Notes</th>
      <th></th>
    </tr>
		<% i = 0 %>
    <% @glucose_results.each do |gr| %>
      <tr>
				<% styleClass = (i.even?) ? "gr-dark" : "gr-light" %>
				<td class='gr-dark'><%= gr.id %></td>
				<td class='<%= styleClass %>'><%= gr.date_time_stamp %></td>
        <td class='<%= styleClass %>'><%= gr.result %></td>
        <td class='<%= styleClass %>'><%= gr.device %></td>
        <td class='<%= styleClass %>'><%= gr.notes %></td>
        <td class='<%= styleClass %>'><%= link_to( image_tag( "/assets/images/view_icon.png", size: "14", alt: "View result" ), glucose_result_path( gr.id ) ) %>&nbsp;&nbsp;<%= link_to( image_tag( "/assets/images/edit_icon.png", size: '14', alt: "Edit result" ), edit_glucose_result_path( gr.id ) ) %>&nbsp;&nbsp;<%= link_to( image_tag( "/assets/images/del_icon.png", size: "14", alt: "Delete result" ), glucose_result_path( gr.id ), method: :delete, data: { confirm: "Are you sure?" } ) %></td>
	    </tr>
			<% i += 1 %>
    <% end %>
  </table>
<% else %>
  <p>There are no results to display.</p>
<% end %>
